{% extends 'base.html.twig' %}

{% block body %}
        {# Bloc principal pour le contenu de la page. #}
        <h1 class="text-3xl text-center mt-3">Bienvenue sur Anime Generation</h1>

        {# Section pour les derniers ajouts d'anime. #}
        <h2 class="text-xl ml-40 mt-5">Derniers ajouts</h2>
        <section class="mx-40 mt-5 overflow-x-hidden whitespace-nowrap py-2">
            {% for anime in animes %}
                {# Boucle sur chaque anime dans la liste 'animes'. #}
                <article class="inline-block relative rounded overflow-hidden shadow-lg m-2 h-96 w-52 cursor-pointer transition duration-500 ease-in-out transform hover:scale-105">
                    <a href="#">
                        {# Affiche l'image de couverture de l'anime. #}
                        <img class="w-full h-full object-cover" src="{{ anime.coverImage.large }}" alt="Cover Image">
                        <div class="px-6 py-4 bg-black bg-opacity-50 text-white absolute bottom-0 w-full">
                            {# Affiche le titre de l'anime. #}
                            <h2 class="font-bold text-xl mb-2 truncate">{{ anime.title.romaji }}</h2>
                            {# Affiche une partie de la description de l'anime. #}
                            <p class="text-base">
                                {{ anime.description | slice(0, 18) }}...
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </section>

        {# Section pour les animes les plus populaires. #}
        <h2 class="text-xl ml-40 mt-5">Les plus populaires</h2>
        <section class="mx-40 mt-5 overflow-x-hidden whitespace-nowrap py-2">
            {% for anime_popular in popular_animes %}
                {# Boucle sur chaque anime dans la liste 'popular_animes'. #}
                <article class="inline-block relative rounded overflow-hidden shadow-lg m-2 h-96 w-52 cursor-pointer transition duration-500 ease-in-out transform hover:scale-105">
                    <a href="#">
                        {# Affiche l'image de couverture de l'anime. #}
                        <img class="w-full h-full object-cover" src="{{ anime_popular.coverImage.large }}" alt="Cover Image">
                        <div class="px-6 py-4 bg-black bg-opacity-50 text-white absolute bottom-0 w-full">
                            {# Affiche le titre de l'anime. #}
                            <h2 class="font-bold text-xl mb-2 truncate">{{ anime_popular.title.romaji }}</h2>
                            {# Affiche une partie de la description de l'anime. #}
                            <p class="text-base">
                                {{ anime_popular.description | slice(0, 18) }}...
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </section>

        {# Section pour les suggestions d'anime. #}
        <h2 class="text-xl ml-40 mt-5">Suggestion</h2>
        <section class="mx-40 mt-5 overflow-x-hidden whitespace-nowrap py-2 mb-5">
            {% for random_anime in random_animes %}
                {# Boucle sur chaque anime dans la liste 'random_animes'. #}
                <article class="inline-block relative rounded overflow-hidden shadow-lg m-2 h-96 w-52 cursor-pointer transition duration-500 ease-in-out transform hover:scale-105">
                    <a href="#">
                        {# Affiche l'image de couverture de l'anime. #}
                        <img class="w-full h-full object-cover" src="{{ random_anime.coverImage.large }}" alt="Cover Image">
                        <div class="px-6 py-4 bg-black bg-opacity-50 text-white absolute bottom-0 w-full">
                            {# Affiche le titre de l'anime. #}
                            <h2 class="font-bold text-xl mb-2 truncate">{{ random_anime.title.romaji }}</h2>
                            {# Affiche une partie de la description de l'anime. #}
                            <p class="text-base">
                                {{ random_anime.description | slice(0, 18) }}...
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </section>

        {# Inclusion de la bibliothèque jQuery pour la manipulation de DOM. #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script>
            {# Script pour activer le défilement horizontal lors du défilement de la souris. #}
            $(document).ready(function(){
                $('section').on('mousewheel', function(e){
                    e.preventDefault();
                    let scrollAmount = e.originalEvent.wheelDelta / 3;
                    $(this).scrollLeft($(this).scrollLeft() - scrollAmount);
                });
            });
        </script>
{% endblock %}
